/*==================[Web Desktop]====================*/


/*======================[Body]=======================*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*======================[Fim Body]==================*/


/*=======================[Header]===================*/
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: right;
  position: fixed;
  background-color: antiquewhite;
}
#searchForm{
  display: flex;
  height: 30px;
  font-size: 1.3em;
  position: absolute;
  top: 0;
  right: 0;
}


/*================[Fim Header]=====================*/


/*=============[ Grid Barra lateral ]=============*/
  #grid {
  height: 100vh;
}
  
  #left {
  padding: 5%;
  text-align: center; 
  background:crimson;    
}
  
  #right {
  display: flex;
  padding: 0;
  text-align: center; 
  background: navajowhite;
}
  
  #grid {
  transition: 30ms;
  display: grid;
  grid-template-columns: 60px auto;
}
  
  #grid:has(#left:hover) {
  grid-template-columns: 15% auto;
}
  
  #grid {
  transition: 300ms;
  display: grid;
  grid-template-columns: var(--left, 60px) auto;
}
  
  #grid:has(#left:hover) {
  --left: 30%;
  .text_left{
  display: block;
  }
}

  .text_left{
  display: none;
  text-align: left;
  padding-left: 10px;
}


  /*==========[Fim Grid Barra lateral ]==================*/
  
/*=================[Estilo grid Right]===================*/

.fundo1{
  padding: 50px;
  flex-wrap: wrap;
  display: flex;
  background-color: #9b9b9b;
  width: auto;
  height: auto;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 5px;
  border-radius: 30px 30px 0px 0px;
  border: 3px solid #424242;
}

.fundo2{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 25px;
}

.juncao{
  display: flex;
  background-color: #9b9b9b;
  width: auto;
  height: auto;
  border: 3px solid #424242;
  border-top-width: 0px;
}

.post{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 3px solid #424242;
  background-color: #D9D9D9;
  margin-left: auto;
  width: 215px;
  height: 500px;
  border-radius: 10px 0px 0px 10px;
  border-right-width: 0px;
}

.imgpost{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 3px solid #424242;
  background-color: #bcbcbc;
  margin-right: auto;
  width: 215px;
  height: 500px;
  border-radius: 0px 10px 10px 0px;
  border-left-width: 0px;
}

.conta{
  flex-wrap: wrap;
  border-radius: 30px 30px 0px 0px;
  border: 3px solid #424242;
  background: #BCBCBC;
  width: 541px;
  height: 120px;
  flex-shrink: 0;
}

#right{
  align-content: center;
} 

.publi-basic{
  margin-bottom: 50px;
  text-align: left;
  width: auto;
  height: 300px;
  padding-left: 15px;
  padding-right: 15px;
}
.perfil{
  width: 210px;
  height: 178px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  border: 3px solid #424242;
  background: #BCBCBC;
}

.fake-perfil-img {
  margin-top: 150px;
  border: 3px solid #424242;
  background-color: #D9D9D9;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

.fake-perfil-img2 {
  margin-top: 15px;
  border: 3px solid #424242;
  background-color: #D9D9D9;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

.perfil2 {
  margin-top: 150px;
  height: 50px;
  width: 50px;
  border-radius: 10px 0px 0px 10px;
  border: 3px solid #424242;
  background: #D9D9D9;
  margin-left: auto;
  margin-right: auto;
}

.false-img{
  padding-left: 10px;
  padding-right: 10px;
  width: 190px;
  height: 120px;
  flex-shrink: 0;
  display: flex;
  border-radius: 0px 0px 10px 10px;
  border: 3px solid #424242;
  background: #D9D9D9;
  border-top-width: 0px;
  }

/*==========[Fim Estilo grid Right]==================*/

/*==========[Textos]=================================*/

p{    
  margin-top: 30px;
  height: 80px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}