/*==================[Web Desktop]====================*/


/*======================[Body]=======================*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

/*======================[Fim Body]==================*/


/*=======================[Header]===================*/
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: right;
  position: fixed;
  background-color: antiquewhite;
}
#searchForm{
  align-self: right;
  display: flex;
  border: 0.5px;
  border-color: #9b9b9b;
  height: 30px;
  font-size: 1.3em;
}


/*================[Fim Header]=====================*/


/*=============[ Grid Barra lateral ]=============*/
  #grid {
    height: 100vh;
  }
  
  #left {
    padding: 5%;
    text-align: center; 
    background:crimson;
    
  }
  
  #right {
    padding: 0;
    text-align: center; 
    background: navajowhite;
  }
  
  #grid {
    transition: 30ms;
    display: grid;
    grid-template-columns: 60px auto;
  }
  
  #grid:has(#left:hover) {
    grid-template-columns: 15% auto;
  }
  
  #grid {
    transition: 300ms;
    display: grid;
    grid-template-columns: var(--left, 60px) auto;
  }
  
  #grid:has(#left:hover) {
    --left: 30%;
    .text_left{
      display: block;
    }
  }

  .text_left{
    display: none;
    text-align: left;
    padding-left: 10px;
  }


  /*==========[Fim Grid Barra lateral ]==================*/
  
/*=================[Estilo grid Right]===================*/

.fundo1{
  flex-wrap: wrap;
  display: flex;
  background-color: #9b9b9b;
  width: auto;
  height: auto;
  margin-top: 50px;
  margin-left: 25px;
  border-radius: 30px 30px 0px 0px;
  border: 3px solid #424242;

}

#right{
  align-content: center;
} 

.publi-basic{
  padding: 50px;
  margin-bottom: 50px;
  text-align: left;
  width: 600px;
  height: 300px;
  
}
.perfil{
  width: 210px;
  height: 178px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  border: 3px solid #424242;
  background: #BCBCBC;
}
.fake-perfil-img{
  background-color: #111111;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.false-img{
  
  width: 210px;
  height: 120px;
  flex-shrink: 0;
  display: flex;
  border-radius: 0px 0px 10px 10px;
  border: 3px solid #424242;
  background: #D9D9D9;
  }
    
/*==========[Fim Estilo grid Right]==================*/

/*==========[Textos]=================================*/

#p{
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}