<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="'authlogin/login" method="post">
    <label for="">email</label>
    <input type="text" name="nm_email"><br>
    <br>
    <label for="">SENHA</label>
    <input type="password" name="cd_senha"> 

    <button type="submit" >ENVIAR</button>
    </form>   
</body>
</html>