<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="formulario" onsubmit="salvarDados(event)">
        <div class="div">
          <h1>Cadastro</h1>
        </div>
        <div class="nomes">
          <label class="name" for="nome">Nome de Usuário:</label>
          <input class="inserir" id="nome" name="nome" maxlength="60" placeholder="nome..">
        </div>
        <div class="nomes">
          <label class="name" for="email">Email: </label>
          <input class="inserir2" id="email" name="email" maxlength="60" placeholder="">
        </div>
  
        <div class="botao">
          <button type="submit" class="enviar">Enviar</button>
        </div>
      </form>
</body>
</html>